<head>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"
type='text/css'>
<link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>

<body class="play-page">

<h1><%=@player1%> vs. <%=@player2%></h1>

<h2> <%= @player1%> <%=@player1_hp %>hp
  <form class='attack_button' action= "/attack">
    <input type="submit" value='Attack <%=@player1%>!'>
  </form>
</h2>

<h2> <%= @player2%> <%=@player2_hp %>hp
  <form class='attack_button' action= "/attack">
    <input type="submit" value='Attack <%=@player2%>!'>
  </form>
</h2>



</body>
