<head>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"
  type='text/css'>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>

<body class="play-page">

<h1><%=@game.player_1.name%> vs. <%=@game.player_2.name%></h1>

<h2> <%= @game.player_1.name%> <%=@game.player_1.healthpoints %>hp
  <form action="/attack" class='attack_button' method="post">
    <input type="submit" value='Attack <%=@game.player_1.name%>!'>
  </form>
</h2>

<h2> <%= @game.player_2.name%> <%=@game.player_2.healthpoints%>hp
  <form action="/attack" class='attack_button' method="post">
    <input type="submit" value='Attack <%=@game.player_2.name%>!'>
  </form>
</h2>



</body>
