<head>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"
  type='text/css'>
  <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
</head>

<body class="play-page">

<h1><%=@game.player_1.name%> vs. <%=@game.player_2.name%></h1>

<h2> <%= @game.player_1.name%> <%=@game.player_1.healthpoints %>hp</h2>

<h2> <%= @game.player_2.name%> <%=@game.player_2.healthpoints%>hp</h2>

<% if @game.loser %>
<span class="blink"><%= @game.current_player.first.name %> Loses</span>
<% else %>
<form action="/attack" class='attack_button' method="post">
  <input id="attack" type="submit" value='Attack <%= @game.current_player.last.name%>!'>
</form>
<form action="/super_attack" class='attack_button' method="post">
  <input id="super_attack" type="submit" value='Super Attack <%= @game.current_player.last.name%>!'>
</form>
<h3><%=@game.current_player.first.name%>'s turn</h3>
<% end %>

</body>
